.chat_div {
    position: absolute;
    bottom: 81px;
    top: 0px;
}

.send_msg_div {
    height: 81px;
    bottom: 0px;
    position: absolute;
}

.send_photo {
    width: 8%;
    max-height: 70%;
    margin: auto;
    cursor: pointer;
}

.send_textarea {
    width: 85%;
    margin: auto;
    margin-right: 0;
}

.msg {
    background-color: rgb(236, 236, 236);
}

.msg_username {
    color: rgb(214, 18, 18);
    font-weight: bold;
}

.msg_date {
    color: rgb(97, 90, 90);
    float: right;
}

.msg_text {
    display: block;
    font-size: 14px;
}

.users_header {
    text-align: center;
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 2px solid #494949;
    border-radius: 10px;
}

.find_user {
    width: 80%;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.user {
    font-size: 18px;
}

.user_div {
    width: 100%;
    background-color: rgb(236, 236, 236);
    padding-left: 5px;
    margin-bottom: 5px;
}

.expand_user {
    width: 10%;
    display: none;
    cursor: pointer;
}

input.form {
    width: 280px;
    margin: 5px;
    height: 30px;
    text-align: center;
}

div.login {
    border: 2px solid red;
    border-color: rgb(71, 71, 71);
    border-radius: 5px;
    width: 325px;
    margin: auto;
}

h1.login {
    font-size: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 2px solid black;
    border-color: rgb(71, 71, 71);
}

button.login {
    margin-top: 5px;
    margin-bottom: 15px;
}

button.rejestracja {
    margin-top: 5px;
    float: right;
}

span.information {
    font-size: 15px;
    text-align: center;
    width: 100%;
    color: red;
}

@media screen and (max-width: 575px) {
    .users_div {
        display: none;
        position: absolute;
        right: 4px;
        top: 0;
        width: 0;
    }
    .users_div_block {
        display: block;
        position: absolute;
        right: 4px;
        top: 0;
        width: 0;
        border-left: 2px solid black;
        border-color: rgb(71, 71, 71);
        border-radius: 10px;
    }
    .users_header {
        font-size: 4.65vw;
    }
    .expand_user {
        display: block;
        width: 8%;
        margin: auto;
    }
    .send_textarea {
        width: 70%;
    }
}

.nano {
    width: 100%;
    height: 100%;
}

.nano>.nano-content {
    padding: 10px;
    padding-right: 10px;
}

.nano>.nano-pane {
    background: #888;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nano>.nano-pane>.nano-slider {
    background: #111;
    height: 80%;
}