    #chat_div
    {
    display: inline-block;
    width: 80%;
    height: 85%;
    max-height: 85%;
    position: absolute;
    left: 1%;
    top: 1%;
    background-color:steelblue;
    }
    .users_div
    {
    display: inline-block;
    position: absolute;
    right: 1%;
    top: 1%;
    width: 17%;
    height: 45%;
    background-color:rgb(124, 167, 202);
    }
    .send_div
    {
    display: inline-block;
    width: 80%;
    height: 10%;
    min-height: 40px;
    position: absolute;
    left: 1%;
    top: 88%;
    background-color:rgb(124, 167, 202);
    }
    .settings_div
    {
    display: inline-block;
    width: 17%;
    height: 50%;
    min-height: 70px;
    position: absolute;
    right: 1%;
    top: 48%;
    background-color:rgb(124, 167, 202);
    }
    h1
    {
    font-size: 2vw;
    text-align: center;
    }
    .message_input
    {
    margin-left: 1%;
    display: inline-block;
    position: absolute;
    width: 85%;
    top: 12.5%;
    font-size: 15px;
    padding-top: 0;
    padding-left: 1%;
    
    }
    .button_send
    {
    display: inline-block;
    position: absolute;
    top: 15%;
    width:10%;
    height: 70%;
    right: 2%;   
    font-size: 1.5vw;
    padding: 0;
    }
    #chat_list
    {
    margin: 1%;
    height: 96%;
    padding-left: 0;
    overflow-y: scroll;
    word-wrap: break-word;
    max-height: 100%;
    font-size: 25px;
    list-style-type: none;
    }
    #login_div
    {
    width: 30%;
    min-height: 100px;
    min-width:150px;
    text-align: center;
    vertical-align: middle;
    background-color:rgb(57, 33, 163);
    }
    #send_login_btn
    {
    min-width: 70px;
    min-height: 30px;
    height: 10%;
    width: 40%;
    font-size: 1.5vw;
    padding: 0;
    margin: auto;
    }
    #send_login_textbox
    {
    font-size: 20px;
    padding-top: 0;
    padding-left: 1%;
    height: 40px;
    text-align: center;
    }